.laptop-form {
  display: none;
}

@media (max-width: 1024px) {
  /* For mobile tablets: */
  .search-form--laptop {
    display: grid;
    gap: calc(var(--unit) * 2);
    font-size: 16px;
    line-height: 1.16;
    font-weight: 500;
    padding: 12px;
    background-color: var(--accent-color);
    border: 4px solid var(--accent-color);
  }

  .laptop-form {
    margin-bottom: var(--block-space);

    &__input-wrap {
      width: 100%;
      background: var(--general-white-color);
      white-space: normal;
      border-radius: var(--basic-radius);
    }

    &__input--full-width {
      grid-column: 1/3;
    }

    &__destination-wrap {
      display: flex;
    }

    &__button-destination {
      margin: 14px 4px 14px 12px;
      line-height: 0;
    }

    &__button-icon {
      width: 25px;
      aspect-ratio: 1/1;
      fill: var(--secondary-text-color);
    }

    &__input {
      position: relative;
      width: 100%;
    }

    &__properties-wrap {
      display: flex;
    }

    &__input-properties:nth-child(n + 2)::before {
      content: '';
      position: absolute;
      top: 6px;
      left: -8px;
      height: 40px;
      border-right: 1px solid var(--secondary-text-color);
    }

    &__input > label {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      transition: all 0.3s;
      pointer-events: all;
      font-size: 16px;
      line-height: 1.16;
      font-weight: 400;
    }

    &__input-destination > label {
      font-weight: 500;
      font-size: 18px;
    }

    &__button-search {
      grid-column: 1/3;
      line-height: 1;
      padding: 14px;
    }
  }

  .input-laptop:focus ~ label,
  .input-laptop:not(:focus):valid ~ label {
    top: 16px;
    color: var(--text-color);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  /* For mobile phones: */
  .search-form--laptop {
    display: grid;
    gap: var(--unit);
    font-size: 15px;
    padding: 4px;
  }

  .laptop-form {
    margin-bottom: 32px;

    &__button-destination {
      margin: 16px 0 16px 12px;
    }

    &__button-icon {
      width: 16px;
    }

    &__properties-wrap {
      display: flex;
    }

    &__input-properties:nth-child(n + 2)::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      height: 32px;
      border-right: 1px solid var(--secondary-text-color);
    }

    &__input > label {
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      transition: all 0.3s;
      pointer-events: all;
      font-size: 12px;
      font-weight: 400;
    }

    &__input-destination > label {
      font-weight: 500;
      font-size: 15px;
    }
  }
  .input-laptop:focus ~ label,
  .input-laptop:not(:focus):valid ~ label {
    top: 14px;
    color: var(--text-color);
    opacity: 1;
  }
}
