mixin footer
  footer.footer
    .container
      a.logo.footer__logo(href='#')
        svg.logo__icon-footer
          use(href='#logo')
      nav.row.footer__nav
        ul.col-lg-4.col-md-4.col-sm-2._right.footer__list
          li.footer__item.footer__item-title
            a.footer__link(href='#') About
          li.footer__item
            a.footer__link(href='#') How Triphouse works
          li.footer__item
            a.footer__link(href='#') Careers
          li.footer__item
            a.footer__link(href='#') Privacy
          li.footer__item
            a.footer__link(href='#') Terms
        ul.col-lg-4.col-md-4.col-sm-2._center.footer__list
          li.footer__item.footer__item-title
            a.footer__link(href='#') Property types
          li.footer__item
            a.footer__link(href='#') Guest houses
          li.footer__item
            a.footer__link(href='#') Hotels
          li.footer__item
            a.footer__link(href='#') Apartments
          li.footer__item
            a.footer__link(href='#') Villas
          li.footer__item
            a.footer__link(href='#') Holiday homes
          li.footer__item
            a.footer__link(href='#') Hostels
        ul.col-lg-4.col-md-4.col-sm-2._left.footer__list
          li.footer__item.footer__item-title
            a.footer__link(href='#') Support
          li.footer__item
            a.footer__link(href='#') Contact Customer Service
          li.footer__item
            a.footer__link(href='#') FAQ
      p.footer__copyright
        | &copy; 2022 Triphouse, Inc. All rights reserved
