mixin offer
  section.container.offer
    h2.offer__title What do we offer
    ul.row
      li.col-lg-3.col-md-6.col-sm-6.offer__card
        svg.offer__img
          use(href='#headset')
        h3 Support 24/7
      li.col-lg-3.col-md-6.col-sm-6.offer__card
        svg.offer__img
          use(href='#forum')
        h3 Communicate directly
      li.col-lg-3.col-md-6.col-sm-6.offer__card
        svg.offer__img
          use(href='#devices')
        h3 Book online
      li.col-lg-3.col-md-6.col-sm-6.offer__card
        svg.offer__img
          use(href='#thumb-up')
        h3 Real guest reviews
