.mobile-app {
  display: flex;
  justify-content: center;
  gap: 16px;

  &__link {
    display: inline-block;
    line-height: 0;
  }

  &__icon-google {
    width: 135px;
    height: 40px;
  }

  &__icon-apple {
    width: 120px;
    height: 40px;
  }
}

@media (max-width: 1024px) {
  /* For mobile tablets: */
}

@media (max-width: 600px) {
  /* For mobile phones: */
}
